.PhotoGrid {
  flex: 3;
  margin: 50px 50px 0 50px;
  display: grid;
  grid-template: repeat(16, 1fr) / repeat(16, 1fr);
  grid-gap: 2px;
}

.PhotoGrid img {
  width: 100%;
  height: auto;
  image-rendering: crisp-edges;
  border-radius: 2px;
}

.PhotoGrid img.PhotoGrid-active {
  border: 2px solid #568af2;
}

.PhotoGrid-container {
  flex: 1;
  margin-top: 22px;
  display: flex;
  align-items: center;
}


.PhotoGrid-right {
  flex: 2;
  margin: 50px 50px 0 50px;
  max-width: 660px;
}
